@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    margin: 0;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 70px;
}
p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: large;
    color: #ffffff;
}
.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}
/*.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}*/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}
.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}

.button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    animation-delay: 1.5s;
  }
  .button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
  }
  .button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .button:hover {
    color: #fff;
  }
  .button:hover:before {
    width: 100%;
  }
  
  .container {
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  
  span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    animation-delay: 2.5s;
  }
  span a {
    font-size: .7rem;
    color: rgb(0, 255, 221);
    text-decoration: underline;
  }

  a:link, a:visited {
      text-decoration: none;
  }

  .bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
    top: 70%;
    left: 39%;
    z-index: 2;
    width: 20%;
    padding: 20px;
    text-align: center;
  }

  .typewriter p {
    overflow: hidden;
    border-right: .25em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    font-size: x-large;
    animation: 
      typing 5.0s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }

  .introwrap  {
    max-width: 1000px;
    margin: auto;
  }

  #example {
      width: 40%;
      border-radius: 15px 70px 30px;
      box-shadow: 0px 0px 5px 5px rgb(255,255,255,0.5);
  }

  .endcard {
      text-align:center;
      animation-delay: 1s;
  }
  .endcard > div {
    vertical-align:top;
    display:inline-block;
  }

  a{
      color: #ffffff;
  }

  i {
    animation-delay: 1s;
  }