@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    margin: 0;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 70px;
}
p, li {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: large;
    color: #ffffff;
}
.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}
.inner-header {
    height: 15vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}
.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

.socialbtn{
  margin-bottom: 5px;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}

.button {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .button1{
    animation-delay: 0.7s;
  }
  .button2{
    animation-delay: 0.8s;
  }
  .button3{
    animation-delay: 0.9s;
  }
  .button4{
    animation-delay: 1.0s;
  }
  .button5{
    animation-delay: 1.1s;
  }
  .button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
  }
  .button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  .button:hover {
    color: #fff;
  }
  .button:hover:before {
    width: 100%;
  }
  
  .container {
    padding-top: 50px;
    margin-top: 5%;
    width: 100%;
    text-align: center;
  }

  .containerlinks {
    padding-top: 1px;
    margin-top: 1%;
    width: 100%;
    text-align: center;
  }

  .containerAlternative{
    padding-top: 15px;
    width: 100%;
    text-align: center;
  }
  
  span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    animation-delay: 2.5s;
  }
  span a {
    font-size: .7rem;
    color: rgb(0, 255, 221);
    text-decoration: underline;
  }

  a:link, a:visited {
      text-decoration: none;
  }

  .typewrite{
    position: absolute;
    margin-left: -6%;
    animation-delay: 1.0s;
  }
  a{
      color: #ffffff;
  }
  .about{
    animation-delay: 2.8s;
  }
  i.github:hover {
    color: #b19cec;
  }
i.card:hover {
  color: #b19cec;
}

.pb {
  border-radius: 50%;
  height: 7.5%;
  width: 7.5%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 3px solid #f1f1f1;
}
.pb:hover {
  box-shadow: #ffffff 1px 1px 10px 1px;

}
.shortabout{
  animation-delay: 0.5s;
}
.linkpb {
  margin-top: 10%;
  border-radius: 50%;
  height: 7.5%;
  width: 7.5%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  border: 3px solid #f1f1f1;
}
.linkpb:hover {
  box-shadow: #ffffff 1px 1px 10px 1px;

}

@media (max-device-width: 699px){
  .skills  {
    font-size: x-small;
  }
  .pb {
    height: 45%;
    width: 45%;
  }
  .linkpb {
    margin-top: 35%;
    height: 45%;
    width: 45%;
  }
}

#navtext{
  margin-bottom: 0%;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  border-bottom: 3px solid #ffffff;
  line-height: 1;
  width: 50%;
  top: 15%;
  left: 26%;
  align-content: center;
  position: relative;
  margin-bottom: 1%;
}
#cssmenu ul {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c5c9;
}
.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: relative;
  top: 70%;
  left: 30%;
  z-index: 2;
  width: 35%;
  padding: 20px;
  text-align: center;
}
.gamelogo{
  width: 20%;
  position: relative;
}
.playIt{
  float: left;
}
.devlog{
  float: left;
  position: relative;
  margin-left: 1%;
}